.plan {
  background: url(../images/plan-bg.png) no-repeat;
  background-size: cover;
  padding-top: 43px;
  height: 368px;

  &__header {
    font-family: Roboto, sans-serif;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    letter-spacing: 0.25px;
    color: #023135;
    margin-bottom: 42px;
  }

  &__cards {
    display: flex;
    justify-content: center;
    position: relative;
  }

  &__card {
    background: #fff;
    border: 1px solid #ebf4ff;
    box-sizing: border-box;
    box-shadow: 0 2px 25px rgba(76, 106, 170, 0.22);
    border-radius: 20px;
    padding: 23px 33px 23px 25px;
    transition: 0.5s;
    cursor: pointer;
  }

  &__card:hover {
    box-shadow: 10px 20px 25px rgba(76, 106, 170, 0.22);
  }

  &__card:first-child {
    margin-right: 32px;
  }

  &__card h4 {
    font-family: Roboto, sans-serif;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.15px;
    color: #023135;
    margin-bottom: 24px;
  }
    
  &__card p {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.15px;
    color: #023135;
    text-align: center;
  }

  &__card button {
    background: #007a5c;
    border-radius: 24px;
    border: none;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.15px;
    color: #fff;
    padding: 10px 86px;
    margin-top: 30px;
    transition: 0.5s;
  }

  &__card button:hover {
    box-shadow: 10px 20px 15px rgba(76, 106, 170, 0.22);
  }

  @media screen and (max-width: 414px) {
    &__cards {
      flex-direction: column;
    }

    &__card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 20px;
    }

    &__card:first-child {
      margin-right: 0;
    }
  }

  @media screen and (min-width: 375px) {
    &__header {
      font-size: 27px;
    }
  }

  @media screen and (max-width: 320px) {
    &__header {
      font-size: 25px;
    }

    &__card button {
      padding: 10px 44px;
    }
  }
}

@media screen and (max-width: 414px) {
  .plan {
    height: 730px;
  }
}
